.logo {
    position: absolute;
    top: 5%;
    left: 5%;
}

.root {
    display: flex;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.left {
    flex: 1;
    background-color: #1755c2;
    padding: 80px;
    min-height: 800px;
    padding-right: 240px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.right {
    flex: 1;
    background-color: #013c98;
    padding: 80px;
    min-height: 800px;
    padding-left: 240px;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #d9d9d9;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 70%;
    width: 350px;
    z-index: 1;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
    }
}

.textarea {
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: unset;
    min-height: 200px;
    padding-top: 60px;
    padding-left: 20px;
    width: 100%;
    outline: unset;
}

.field {
    position: relative;

    span {
        position: absolute;
        top: 20px;
        left: 20px;
        display: block;
    }
}

.askbutton {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 40px;
    color: #1755c2;
    font-size: 1.6rem;
    font-weight: bold;
    transition: 0.4s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.75);
    }
}
